{% extends "base.html" %}
{% block content %}
    {% for year, group in articles_page.object_list|groupby('date.year')|reverse %}
        <h3>{{ year }}</h3>
        <ul>
            {% for article in group %}
                <li>
                    <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %}
{% endblock content %}
