/* Import Fonts */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter.woff2') format('woff2');
}
@font-face {
    font-family: 'SourceSerif4';
    src: url('../fonts/sourceserif4.woff2') format('woff2');
}
/* Import Fonts [end] */

body {
    font-family: 'SourceSerif4', serif;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: -0.003rem;
    margin: 0 auto;
    max-width: 50rem;
    width: 100%;
    color: #111111;
    line-height: 1.6;
}

/* Headers */
h1, h2, h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    letter-spacing: -0.011rem;
    line-height: 1.2;
}
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
.intro { margin: 2.5rem 0; }
.logo { height: 3.5rem; }
@media (max-width: 600px) {
  h1 { font-size: 1.8rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.3rem; }
  .intro { margin: 0; }
  .logo { height: 2.5rem; }
}
/* Headers [end] */

a {
    text-decoration: none;
    color: inherit;
}

article a {
    text-decoration: underline;
}

hr {
    background-color: #eeeeee;
    height: 1px;
    border: none;
    margin: 1.25rem 0;
}

/* Code Block */
pre {
  background-color: #f6f8fa;
  border-radius: 0.25rem;
  padding: 1rem;
  overflow: auto;
  line-height: 1.45;
  border: 1px solid #d0d7de;
}
code {
  font-family: monospace;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
}
pre code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  color: #24292f;
  word-break: normal;
  white-space: pre;
}
/* Code Block [end] */

.container {
    padding: 0 1rem;
}

.byline {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #999999;
    display: flex;
    margin: 0 0 1rem;
}

.my-norm {
    margin: 1.25rem 0;
}
